{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>正常表单提交演示</h2>

      <p>
        每个表单需加入：
        <pre>{% verbatim %}{{ form_csrf_token() }}{% endverbatim %}</pre>
      </p>

      {% if fields %}
        <div class="alert alert-info">
          {% for key, value in fields %}
            {{ key }}: {{ value }} <br>
          {% endfor %}
        </div>
      {% endif %}

      <form id="example-form" action="{{ path('example_form_submit') }}" method="post">
        <div class="form-group">
          <label>用户名</label>
          <input type="text" class="form-control" name="username" value="">
        </div>
        {{ form_csrf_token() }}
        <button type="submit" class="btn btn-primary">提交</button>
      </form>

      <h2>不含CSRF Toekn的表单</h2>
      <div class="alert alert-info">
        点击提交后，系统会阻止表单的提交，并提示错误信息“页面已过期”。
      </div>

      <form id="example-form" action="{{ path('example_form_submit') }}" method="post">
        <div class="form-group">
          <label>用户名</label>
          <input type="text" class="form-control" name="username" value="">
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}